@charset "UTF-8";

* {
    box-sizing: border-box;
}

/*--------------------------------------------------------------
Generic styles
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    clear: both;
    margin: 0;
    line-height: 1.3em;
}

h1{
    font-size: 3em;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    border: 0;
    width:100%;
    height:100%;
    object-fit:cover;
}

/*--------------------------------------------------------------
Extra classes
--------------------------------------------------------------*/
.flex{
    display: flex;
}

.icons{
    width: 20%;
}

/*--------------------------------------------------------------
Container styles
--------------------------------------------------------------*/
.site-container{
    display: grid;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.header-container{
    margin: 0.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.search-and-language-section{
    display: none;
}

nav{
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
}

/*--------------------------------------------------------------
Header section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
Nav section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
Slideshow section
--------------------------------------------------------------*/
.slideshow-container{
    position: relative;
}

.slideshow-item{
    display: none;
}

.slideshow-item{
    position: relative;
    height: 450px;
}

.slideshow-txt{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}

.slideshow-txt h1{
    margin-bottom: 1em;
}

.display-bottom-middle {
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

.center {
    text-align: center !important;
}

.border {
    border: 1px solid #ccc !important;
}

.badge, .tag {
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.badge {
    border-radius: 50%;
    height:13px;
    width:13px;
    margin: 0.2rem;
    padding:0
}

.transparent, .hover-none:hover, arrow {
    background-color: transparent !important;
}

.white, .hover-white:hover {
    background-color: #fff !important;
}

.arrow{
    color: red;
}

.arrow:hover {
    color: #fff !important;
}

.left, .right, .badge {
    cursor:pointer
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.read-more-btn{
    background-color: red;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1em;
    border: 2px solid transparent;
    border-radius: 0.2em;
}

/*--------------------------------------------------------------
User section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Media queries
--------------------------------------------------------------*/
@media all and (min-width: 768px){
    /* Show on desktop */
    .search-and-language-section{
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
    }

    /* Generic styles */
    h1{
        font-size: 6em;
    }

    /* New styling */

    #logo-img{
        width: 15em;
    }

    .read-more-btn {
        font-size: 1.5em;
        padding: 0.5em;
    }

    .icons{
        width: 3em;
    }

    .search-bar-div, .language-btn-div{
        margin: 0 2em 0 2em;
    }

    .search-bar-div img{
        margin-right: 1em;
    }

    #search-field{
        font-size: 1em;
    }

    nav .icons{
       display: none;
    }

    .slideshow-container{
        margin-top: 2em;
    }

    .slideshow-item {
        height: 650px;
    }
}